body {
	margin: 0;
	color: #aaa;
	background: #000;
	font-family: sans-serif;
}
main {
	display: grid;
	grid-template-columns: 252px auto 252px;
	gap: 16px;
	padding: 16px;
	box-sizing: border-box;
	height: 100vh;
}
main > * {
	overflow-y: auto;
}


svg {
	color: #007bff; /* 4600 angstrom ish */
	stroke-linecap: round;
	stroke-linejoin: round;
	overflow: visible;
}
rect {
	fill: none;
	stroke: #aaa;
	stroke-width: 0.4;
	stroke-dasharray: 0 1;
}
text {
	font-size: 2.4px;
	font-family: sans-serif;
	font-weight: bold;
	fill: #aaa;
	stroke: none;
}
path {
	fill: none;
	stroke: currentColor;
	/*stroke-width: 1.7px;*/ /* minimum to not leave gaps, mostly */
	stroke-width: 1.1px; /* more like the NWL pages */
}

button {
	display: block;
	margin-bottom: 8px;
	font: 16px sans-serif;
	color: #aaa;
	background: #222;
	border: 1px solid #444;
	padding: 4px 6px;
	border-radius: 4px;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	color: #aaa;
	display: inline-block;
	margin: 4px 0;
}

#output {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
#output > * {
	width: 42px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #444;
	margin: 4px;
	cursor: pointer;
}
#output > .selected {
	border: 2px solid #555;
	background: #222;
	margin: 3px;
}

#details {
	width: 252px;
	height: 300px;
}
line {
	stroke: #aaa;
	stroke-width: 0.2;
}

table {
	margin: 0 24px;
	border-collapse: collapse;
	box-sizing: border-box;
	width: 204px;
}
td {
	padding: 4px 6px;
	border: 1px solid #444;
}
