body {
	margin: 20px;
 	background: #eee;
	display: grid;
	gap: 20px;
	grid-template-columns: 320px auto 320px;
	font-family: sans-serif;
	line-height: 1.2;
}
svg {
	max-height: calc(100vh - 40px);
	display: block;
	margin: 0px auto;
 	background: #fff;
	border-radius: 4px;
}
.shortcut {
	margin-bottom: 4px;
}
table {
	border-collapse: collapse;
	box-sizing: border-box;
	width: 100%;
}
td {
	padding: 0;
	border: 1px solid #999;
	background: #fff;
}
td:first-child {
	width: 80px;
	vertical-align: top;
	padding: 4px 6px;
	background: transparent;
}
input:not([type=file]) {
	font: 14px monospace;
	padding: 4px 6px;
	border: 1px solid #999;
	outline-offset: -1px;
}
td input:not([type=checkbox]), textarea, select {
	font: 14px monospace;
	box-sizing: border-box;
	width: 100%;
	display: block;
	border: none;
	margin: 0;
	padding: 5px 6px;
	background: #fff;
}
textarea {
	height: 150px;
	padding: 0;
	border-width: 5px 6px;
	border-style: solid;
	border-color: #fff;
}
td input[type=checkbox] {
	margin-left: 6px;
}
button {
	padding: 3px 6px 4px;
}
input:focus, textarea:focus {
	outline: 2px solid #1165ff;
}

/* editor stuff */

#grid {
	color: #5297ff;
}
#grid line {
	stroke: currentColor;
	stroke-width: 0.02;
}
#glyph g {
	color: #ff4229;
	opacity: 0.5;
}
#glyph line {
	stroke: currentColor;
	stroke-width: 1.1;
	stroke-linecap: round;
}
#glyph circle {
	fill: #5297ff;
	opacity: 0.5;
}
#glyph .selected {
	color: #5297ff;
}
.handle {
	fill: rgba(0, 0, 0, 0.01);
	stroke: #5297ff;
	stroke-width: 0.1;
	opacity: 1;
}
.first {
	fill: rgba(0, 194, 26, 0.7);
}
.last {
	fill: rgba(255, 66, 41, 0.7);
}
circle.selected {
	fill: rgba(82, 151, 255, 0.7);
}
